*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.App {
  text-align: center;
}
:root{
  --white: #ffffff;
  --lightgrey: #efe6dd;
  --peach: #D0947A;
  --darkpeach: #B97836;
}

.btn-primary{
  background-color: transparent;
  color: var(--darkpeach);
  border: solid 0.14rem var(--darkpeach);
  border-radius: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 500ms ease;
}
.btn-primary:hover{
  background-color: var(--darkpeach);
  color: var(--lightgrey);
}